<!-- <h2>Clients</h2>
<ul class="clients">
  <li *ngFor="let client of listData[0]">
    {{client.first_name}}
  </li>
</ul> -->

<nz-table #basicTable [nzData]="listData[0]">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      <th>CodeClan Graduate</th>
      <th>Gender</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.id}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.job_title}}</td>
      <td>{{data.codeclan_graduate}}</td>
      <td>{{data.gender}}</td>
      <!-- <td>
        <a>Action 一 {{data.gender}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td> -->
    </tr>
  </tbody>
</nz-table>