<nz-layout class="layout">
      <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
        </ul>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item><a routerLink="" routerLinkActive="active">Home</a></nz-breadcrumb-item>
          <nz-breadcrumb-item><a routerLink="clients" routerLinkActive="active">Clients</a></nz-breadcrumb-item>
          <nz-breadcrumb-item><a routerLink="employees" routerLinkActive="active">Employees</a></nz-breadcrumb-item>
          <nz-breadcrumb-item><a routerLink="login" routerLinkActive="active">Login</a></nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Michael Anderson</nz-footer>
    </nz-layout>
